.bg_image{
    background-image: linear-gradient(rgba(255,555,255, 0.8),rgba(255,555,255, 0.8)),url('../sheet-music-bg-2.jpg');
    background-size: cover;
    height: 100vh;
    text-shadow: white 0px 0px 30px;
}

html {
    overflow-y: scroll;
}

table {
    background-color: white;
    border-radius: 20px
}

.cal{
    background-color: white;
    border-radius: 20px;
    padding: 2%;
}

.card-custom{
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
}